.App {
  font-family: sans-serif;
  text-align: center;
}
html,
body,
#root {
  height: 100%;
}
#outerBox {
  height: 85%;
  width: 85%;
  display: flex;
  position: relative;
  background-size: cover;
  box-shadow: 2px 2px 6px;
  background-image: url("https://image.jimcdn.com/app/cms/image/transf/none/path/sa6549607c78f5c11/image/i86150a51964976d0/version/1577359562/azores-most-beautiful-landscape-in-europe.jpg");
}
body {
  margin: 0px;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.pinimg.com/originals/44/ec/2f/44ec2f71286ebf0f577a904e5f44f5f7.jpg");
  opacity: 1;
  background-size: cover;
}
#weekBox {
  height: 33%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  background-color: mediumblue;
  opacity: 0.5;
}
.daysBox {
  width: 12%;
}
#today {
  width: 30%;
}
#additionalInfo {
  height: 25%;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
#dateTime {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#time {
  height: 70%;
  width: 100%;
}
#date {
  height: 30%;
  width: 100%;
}
#place {
  height: 100%;
  width: 30%;
}
