html,
body,
#root {
  height: 100%;
}
#outerBox {
  height: 85%;
  width: 85%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-size: cover;
  box-shadow: 4px 5px 10px 4px rgb(45, 45, 45);
  background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=luke-chesser-pJadQetzTkI-unsplash.jpg");
}
body {
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.pinimg.com/originals/44/ec/2f/44ec2f71286ebf0f577a904e5f44f5f7.jpg");
  opacity: 1;
  background-size: cover;
}
#weekBox {
  height: 33%;
  width: 100%;
  bottom: 0;
  flex: 4;
  background-color: rgba(25, 25, 77, 0.787);
  display: flex;
}
.daysBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#today {
  flex: 2.5;
  display: flex;
  padding: 0;
  justify-content: center;
}
#additionalInfo {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  padding-bottom: 10px;
  flex: 2.5;
}
#dateTime {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#time {
  height: 60%;
  width: 100%;
}
#date {
  height: 40%;
  width: 100%;
}
#place {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
#todo {
  height: 20%;
  display: flex;
  flex-direction: column;
  flex: 4;
}
.item {
  margin: 0px;
  margin-top: 3px;
}
p {
  margin: 0px;
}
.todoList {
  height: 20px;
  width: min-content;
  background-color: rgba(28, 28, 125, 0.794);
  border-radius: 15px;
  text-align: center;
  padding: 3px;
}
.element {
  display: flex;
  margin-bottom: 20px;
  padding-left: 30px;
}
#time1 {
  color: white;
  font-size: 60px;
}
span {
  color: white;
}
#date1 {
  font-size: 20px;
  color: white;
}
p {
  color: white;
}
#place1 {
  font-size: 30px;
  margin-bottom: 5px;
}
#icon1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#weekday1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#img1 {
  height: 100px;
}
#temp1 {
  font-size: 60px;
  font-weight: 300;
}
.icon {
  flex: 1;
}
.weekday {
  flex: 1;
  display: flex;
  align-items: center;
}
.temp {
  flex: 1;
}
.img {
  height: 70px;
}
.degree {
  font-size: 30px;
}
.task-gap {
  margin: 0;
  margin-right: 20px;
  width: 50px;
}
